/* oswald-regular - latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/oswald-v36-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('../fonts/oswald-v36-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/oswald-v36-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/oswald-v36-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/oswald-v36-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/oswald-v36-latin-regular.svg#Oswald') format('svg'); /* Legacy iOS */
}

html {
  background-color: #e0e5eb;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Oswald';
}

a {
  text-decoration: none;
  color: black;
}

.container:not(:header_line) {
  margin: 0 auto;
  width: 1500px;
}

.header_line {
  display: flex;
  width: 100%;
  height: 83px;
  background-color: #fff;
}

.header_logo {
  margin-left: 360px;
}


.menu_button {
  position: relative;
  left: 850px;
  top: 30px;
  color: #fff;
  cursor: pointer;
  transition: left .23s;
  z-index: 3;
  width: 25px;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}

.menu_button span {
  display: block;
  height: 5px;
  background-color: #fff;
  margin: 5px 0 0;
  transition: all .1s linear .23s;
  position: relative;
}

.menu_button span.first {
  margin-top: 0;
}

.hidden-menu {
  display: block;
  position: fixed;
  list-style:none;
  padding: 10px;
  margin: 0;
  box-sizing: border-box;
  width: 400px;
  background-color: #eee;
  height: 100%;
  top: 0;
  left: -400px;
  transition: left .2s;
  z-index: 2;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}

.hidden-menu-ticker {
  display: none;
}

.hidden-menu-ticker:checked ~ .btn-menu {
  left: 160px;
}
.hidden-menu-ticker:checked ~ .hidden-menu {
  left: 0;
}
.hidden-menu-ticker:checked ~ .btn-menu span.first {
  -webkit-transform: rotate(45deg);
  top: 10px;
}
.hidden-menu-ticker:checked ~ .btn-menu span.second {
  opacity: 0;
}
.hidden-menu-ticker:checked ~ .btn-menu span.third {
  -webkit-transform: rotate(-45deg);
  top: -10px;
}

.bg_header {
  width: 100%;
  height: 800px;
  background: url(/img/bg_header.jpg) no-repeat;
  margin-bottom: 180px;
  background-size: cover;
}

.header_content {
  text-align: center;
  padding-top: 250px;
  position: relative;
  margin: 0 auto 0 auto;
  width: 1450px;
}

.header_h1 {
  letter-spacing: 3px;
  font-size: 1.5rem;
  color: white;
  text-shadow: 2px 2px 8px rgb(0 0 0 / 40%);
}

.header_h2 {
  letter-spacing: 2px;
  padding-top: 20px;
  font-size: 96px;
  font-weight: bolder;
  color: white;
  text-shadow: 2px 2px 8px rgb(0 0 0 / 40%);
  margin-bottom: 50px;
}

.travel {
  margin-left: 140px;
}

.travel, .benefits, .about_us, .awards {
  margin-right: 40px;
  display: flex;
  flex-direction: column;
  height: 365px;
  width: 262px;
  background-color: white;
}

.header_plates {
  display: flex;
}

.plate_img {
  margin-top: 40px;
}

.plate_header {
  line-height: 1;
  font-size: 1.875rem;
  font-weight: bolder;
  margin-top: 20px;
}

.plate_content {
  margin-top: 20px;
  font-size: 16px;
  font-style: italic;
  color: #808080 !important;
  max-width: 170px;
  margin-left: 45px;
}

.guide {
  height: 840px;
  background-color: white;
}

.guide_content {
  margin: 0 auto 0 auto;
  width: 1200px;
}

.travel_story {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  margin-left: 900px;
}

.travel_story_header {
  letter-spacing: 8px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.travel_story_content {
  display: flex;
  justify-content: flex-start;
  text-align: right;
  width: 230px;
}

.travel_guide {
  margin-left: 50px;
  margin-top: 100px;
  display: flex;
}

.travel_guide_img {
  border-radius: 50% !important;
  max-height: 465px;
  max-width: 465px;
}

.travel_guide_content {
  margin-top: 100px;
  margin-left: 60px;
  font-size: 6rem;
  width: 400px;
  font-weight: 900;
}

.gallery {
  display: flex;
  height: 500px;
  background-size: cover;
}

.first_photo, .second_photo, .third_photo, .four_photo {
  height: 530px;
  width: 475px;
}

.section_5 {
  height: 950px;
  background-color: #fff;
}

.plate {
  position: absolute;
  margin-top: 300px;
  width: 900px;
  height: 234px;
  background-color: #a5b154;
}

.section_photo_1 {
  position: absolute;
  z-index: 2;
  margin-left: 700px;
  margin-top: 140px;
}

.section_photo_2 {
  position: absolute;
  z-index: 2;
  margin-top: 400px;
  margin-left: 350px;
}

.apos {
  position: absolute;
  margin-left: 1080px;
  margin-top: 430px;
}

.section_5_header {
  position: absolute;
  height: 104px;
  width: 380px;
  font-weight: 700;
  font-size: 2.75rem;
  margin-left: 1080px;
  margin-top: 200px;
}

.section_5_content {
  position: absolute;
  width: 326px;
  height: 196px;
  font-size: 1.125rem;
  margin-left: 1150px;
  margin-top: 600px;
}

.bg_section_6 {
  height: 1000px;
  background: url(/img/12.jpg) no-repeat;
  background-size: cover;
}

.section_6_header {
  font-size: 5rem;
  font-weight: 900;
  width: 400px;
  height: 132px;
  color: #fff;
  padding-top: 300px;
  margin-left: 450px;
}

.section_6_content {
  letter-spacing: 1px;
  font-size: 1.8rem;
  height: 84px;
  width: 400px;
  text-align: left;
  color: #fff;
  margin-left: 450px;
  padding-top: 140px;
}

.section_6_button {
  cursor: pointer;
  max-width: 80px;
  margin-left: 450px;
  margin-top: 120px;
  font-size: 16px;
  background-color: #fff;
  background-color: transparent !important;
  border-color: #ffffff !important;
  text-decoration: none;
  border-style: solid;
  border-width: 2px;
  padding: 10px 30px;
}

.button {
  color: white;
}

.bg_section_7 {
  background-color: white;
  height: 775px;
}

.section_7_img {
  position: absolute;
  max-height: 574px;
  max-width: 467px;
  margin-top: 100px;
  margin-left: 1100px;
}

.tochka {
  position: absolute;
  margin-top: 270px;
  margin-left: 900px;
}

.section_7_header {
  position: absolute;
  text-decoration: none solid rgb(17, 17, 17);
  font-size: 3rem;
  font-weight: 700;
  color: #a5b154 !important;
  margin-bottom: 20px;
  margin-left: 400px;
  margin-top: 250px;
}

.section_7_content {
  position: absolute;
  height: 175px;
  width: 400px;
  margin-left: 400px;
  margin-top: 360px;
}

.section_7_button {
  position: absolute;
  margin-left: 400px;
  margin-top: 550px;
  color: #ffffff !important;
  background-color: #000000 !important;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: none;
  padding: 10px 30px;
}

.bg_footer {
  background: url(/img/dfgrey-min.jpg) no-repeat;
  background-size: cover;
}

.contact_us {
  position: relative;
  top: 100px;
  left: 300px;
  width: 600px;
  height: 700px;
  background-color: #1a1a1a;
}

.contact_us_header {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  color: white !important;
  padding-top: 50px;
}

.contact_us_content {
  padding-top: 20px;
  line-height: 1.6;
  width: 500px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-left: 50px;
  font-size: 1.125rem;
  color: #999999 !important;
}

.address {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 320px;
  right: 490px;
}

.address_img {
  margin-bottom: 10px;
}

.address_header {
  color: #999999;
  margin-bottom: 10px;
  letter-spacing: 4px;
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.2;
}

.address_content {
  color: white;
  line-height: 1.6;
  font-size: 1.125rem;
}

.phone {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  right: 220px;
  bottom: 450px;
}

.phone_img {
  margin-bottom: 10px;
}

.phone_header {
  color: #999999;
  margin-bottom: 10px;
  letter-spacing: 4px;
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 10px;
}

.phone_content {
  color: white;
  line-height: 1.6;
  font-size: 1.125rem;
}

.email {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  right: 490px;
  bottom: 360px;
}

.email_img {
  margin-bottom: 10px;
}

.email_header {
  color: #999999;
  margin-bottom: 10px;
  letter-spacing: 4px;
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 10px;
}

.email_content {
  color: white;
  line-height: 1.6;
  font-size: 1.125rem;
}

.follow_us {
  position: relative;
  bottom: 460px;
  left: 650px;
  height: 32px;
  width: 160px;
  justify-content: space-between;
}

.follow_us_header {
  display: flex;
  text-align: center;
  justify-content: center;
  color: #999999;
  margin-bottom: 10px;
  letter-spacing: 4px;
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 10px;
}

.footer_line {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 6105px;
  width: 100%;
  height: 150px;
  background-color: #6d7249;
  color: white !important;
}

.footer_line_content {
  width: 700px;
  font-size: 1rem;
  line-height: 1.6;
}
